@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $bg-dark;
  color: $text-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

*:not(img) {
  transition: all 0.2s ease-in-out;
}